.programs{
    padding: 2rem 0;
    
}
.headers{
    display: flex;
    gap:4.5rem;
    justify-content: center;
    
}
.headers>span{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight:bold;
    text-overflow: inherit;
    font-style: italic;
}
.headers>span:nth-child(2){
    color:white;
}
.program-categories{
    display: flex;
    gap: 1rem;
    padding:2rem ;
}
.category{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    padding: 1.5rem 2rem;
    width:fit-content;
    background-color: gray;
     color: white;
    justify-content: space-between;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}
.category>:nth-child(1){
    width: 2rem;
    height: 2rem;
    fill: white;
}
.category>:nth-child(2){
    font-weight: bold;
}
.category>:nth-child(3)>span{
   
    font-size:14px;
}
.category>:nth-child(4){
    display: flex;
    gap: 3rem;
}
.category>:nth-child(4)>img{
    position: relative;
    top:0.2rem;
    width:1rem;
    height: 1rem;
}
.category:hover{
    background: #8EC3B0;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .headers{
        /* display: flex; */
        flex-direction: column;
        gap:1rem;
        /* font-size: medium; */
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        /* margin-left: 1rem; */
    }
    .headers>span{
        font-size: x-large;
    }
    .program-categories{
        flex-direction: column;
        gap: 0;
    }
    .category{
        transform: scale(0.9);
    }
}
